body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}


#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title{
    margin: 2rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
}

#header-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#header-links a{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#splash-container{
    background-image: url("/pictures_rebuild/splash.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 2rem;
    min-height: 300px;
}

#splash-info-container{
    display: flex;
    flex-direction: column;
}

#splash-title{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 4rem);
}

#splash-date{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

#information-invite, #information-address, #information-time{
    text-align: center;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    margin: 1rem;
}

#information-invite{
    font-weight: bold;
}

.story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.story-image{
    width: 95vw;
}

.story-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story-title{
    text-align: center;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    margin: 1rem;
}

/* From Uiverse.io by mrhyddenn */ 
button {
    font-family: "Noto Serif Georgian", serif;
    background: white;
    border: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    font-weight: 300;
    cursor: pointer;
    margin-top: 4vw;
}

span {
    display: inline-block;
}

button:hover {
    background-color: black;
    color: white;
}

#footer-container{
    background-color: #ddebf6;
}

#footer-title, #footer-rsvp{
    font-family: "Noto Serif Georgian", serif;
    padding: 1rem;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
}

@media only screen and (min-width: 768px){
    #information-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95vw;
    }

    #information-image{
        width: 45vw;
        justify-content: center;
        align-items: center;
    }

    #information-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45vw;
    }

    .story-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 95vw;
    }
    
    .story-image{
        width: 45vw;
    }

    .story-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45vw;
    }
}