body{
    background-color: white;
    margin: 0;
    padding: 0;
    background-color: rgb(214, 230, 211);
}

#title-wrapper{
    display: flex;
    flex-direction: column;
    /*
    border-bottom: 1px solid gray;
    border-bottom-style:solid;
    background-color: #9fbe8f;
    */
    background-color: rgb(194, 228, 188);
}

#title{
    text-align: center;
    font-family: "Fleur De Leah", serif;
    font-size: 5vw;
    color: #070a05;
    text-shadow: 1px 1px 2px black;
}

#quicklinks-wrapper{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.quicklink{
    padding: 1vw;
    font-family: "Radley", serif;
    font-size: 2vw;
    cursor: pointer;
    color: #070a05;
}

#splash-container{
    padding: 2vw;
    background-color: rgb(194, 228, 188);
}

#splash-img{
    width: 100%;
}

#info1{
    width: 50%;
    margin: 0 auto;
    width: 50vw;
}

#info1-img{
    width: 100%;
}

.info-title{
    font-size: 4vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-align: center;
    padding: 1vw;
}

#info-details-title{
    
    font-size: 3vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
}
.info-details{
    font-size: 2vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
}

#info-details-wrapper{
    padding-top: 2vw;
    padding-bottom: 2vw;
    display:flex;
    flex-direction: column;
    gap: 2vw;
    text-align: center;
}

.padding{
    padding: 3vw;
}

.aboutus-wrapper{
    margin-bottom: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutus-text-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 25vw;
}

.aboutus-img{
    width: 50vw;
    margin-right: 3vw;
}

.aboutus-title{
    font-size: 3vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-align: center;
    margin: 2vw;
}

.aboutus-text{
    text-align: center;
    font-size: 2vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
}

.aboutus-slide{
    display: none;
}

.prev, .next {
  cursor: pointer;
  padding: 3vw;
  font-size: x-large;
}

#aboutus-slideshow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}

#footer-wrapper{
    padding-top: 2vw;
    padding-bottom: 3vw;
    background-color: rgb(194, 228, 188);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#conclusion{
    font-size: 4vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
}

#footer-rsvp{
    font-size: 3vw;
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 320px){


}
@media only screen and (max-width: 480px){
    #title{
        text-align: center;
        font-family: "Fleur De Leah", serif;
        font-size: 8vw;
        color: #070a05;
        text-shadow: 1px 1px 2px black;
    }

    #quicklinks-wrapper{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .quicklink{
        padding: 1vw;
        font-family: "Radley", serif;
        font-size: 4vw;
        cursor: pointer;
        color: #070a05;
    }
    #info1{
        width: 100%;
        margin: 0 auto;
        width: 80vw;
    }

    #info1-img{
        width: 100%;
    }

    .info-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
        padding: 1vw;
    }
    #info-details-title{
    
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }
    .info-details{
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    #info-details-wrapper{
        padding-top: 2vw;
        padding-bottom: 2vw;
        display:flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
    }
    .aboutus-wrapper{
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-text-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 25vw;
    }

    .aboutus-img{
        width: 80vw;
        margin-right: 0vw;
    }

    .aboutus-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
    }

    .aboutus-text{
        text-align: center;
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    .aboutus-slide{
        display: none;
    }

    .prev, .next {
    cursor: pointer;
    padding: 3vw;
    font-size: x-large;
    }

    #aboutus-slideshow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
}
@media only screen and (max-width: 768px){
    #title{
        text-align: center;
        font-family: "Fleur De Leah", serif;
        font-size: 8vw;
        color: #070a05;
        text-shadow: 1px 1px 2px black;
    }

    #quicklinks-wrapper{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .quicklink{
        padding: 1vw;
        font-family: "Radley", serif;
        font-size: 4vw;
        cursor: pointer;
        color: #070a05;
    }
    #info1{
        width: 100%;
        margin: 0 auto;
        width: 80vw;
    }

    #info1-img{
        width: 100%;
    }

    .info-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
        padding: 1vw;
    }
    #info-details-title{
    
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }
    .info-details{
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    #info-details-wrapper{
        padding-top: 2vw;
        padding-bottom: 2vw;
        display:flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
    }
    .aboutus-wrapper{
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-text-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 80vw;
    }

    .aboutus-img{
        width: 80vw;
        margin-right: 0vw;
    }

    .aboutus-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
    }

    .aboutus-text{
        text-align: center;
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    .aboutus-slide{
        display: none;
    }

    .prev, .next {
    cursor: pointer;
    padding: 3vw;
    font-size: x-large;
    }

    #aboutus-slideshow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
}
@media only screen and (max-width: 992px){
#title{
        text-align: center;
        font-family: "Fleur De Leah", serif;
        font-size: 8vw;
        color: #070a05;
        text-shadow: 1px 1px 2px black;
    }

    #quicklinks-wrapper{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .quicklink{
        padding: 1vw;
        font-family: "Radley", serif;
        font-size: 4vw;
        cursor: pointer;
        color: #070a05;
    }
    #info1{
        width: 100%;
        margin: 0 auto;
        width: 80vw;
    }

    #info1-img{
        width: 100%;
    }

    .info-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
        padding: 1vw;
    }
    #info-details-title{
    
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }
    .info-details{
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    #info-details-wrapper{
        padding-top: 2vw;
        padding-bottom: 2vw;
        display:flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
    }
    .aboutus-wrapper{
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-text-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 80vw;
    }

    .aboutus-img{
        width: 80vw;
        margin-right: 0vw;
    }

    .aboutus-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
    }

    .aboutus-text{
        text-align: center;
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    .aboutus-slide{
        display: none;
    }

    .prev, .next {
    cursor: pointer;
    padding: 3vw;
    font-size: x-large;
    }

    #aboutus-slideshow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
}
@media only screen and (max-width: 1200px){
    #title{
        text-align: center;
        font-family: "Fleur De Leah", serif;
        font-size: 8vw;
        color: #070a05;
        text-shadow: 1px 1px 2px black;
    }

    #quicklinks-wrapper{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .quicklink{
        padding: 1vw;
        font-family: "Radley", serif;
        font-size: 4vw;
        cursor: pointer;
        color: #070a05;
    }
    #info1{
        width: 100%;
        margin: 0 auto;
        width: 80vw;
    }

    #info1-img{
        width: 100%;
    }

    .info-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
        padding: 1vw;
    }
    #info-details-title{
    
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }
    .info-details{
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    #info-details-wrapper{
        padding-top: 2vw;
        padding-bottom: 2vw;
        display:flex;
        flex-direction: column;
        gap: 2vw;
        text-align: center;
    }
    .aboutus-wrapper{
        margin-bottom: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutus-text-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 80vw;
    }

    .aboutus-img{
        width: 80vw;
        margin-right: 0vw;
    }

    .aboutus-title{
        font-size: 4vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
        text-align: center;
    }

    .aboutus-text{
        text-align: center;
        font-size: 3vw;
        font-family: "Newsreader", serif;
        font-weight: lighter;
    }

    .aboutus-slide{
        display: none;
    }

    .prev, .next {
    cursor: pointer;
    padding: 3vw;
    font-size: x-large;
    }

    #aboutus-slideshow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
    }
}