body{
    margin:0;
    padding:0;
}

#splash-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-image: url("/pictures_rebuild/splash.jpg");
    background-position: center;
    background-size: cover;
    height:100vh;
}

#splash-title{
    margin: 3vw;
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-align: center;
}

#splash-links-container{
    display: flex;
    flex-direction: row;
}

#splash-links-container h1{
    margin: 3vw;
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-decoration: underline;
}

#info-container h1{
    margin: 3vw;
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
    font-family: "Newsreader", serif;
    font-weight: lighter;
    text-align: center;
}

@media only screen and (max-width: 1200px){
    #splash-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #splash-title{
        margin: 4vw;
    }

    #splash-links-container{
        display: flex;
        flex-direction: row;
    }

    #splash-links-container h1{
        margin: 2vw;
    }
}