body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title{
    margin: 2rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    text-align: center;
}

#header-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    cursor: pointer;
}

#header-links a{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
}

#Registry-container{
    margin: 1rem;
}

#Registry-text{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
}

#Registry-fund{
    margin: 1rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
}

#Registry-splash-container{
    width: 90vw;
    margin: 0 auto;
    display: block;
}

#Registry-splash-image{
    width: 100%;
    padding-top: 1rem;
}

#QR-container{
    margin: 1rem;
    text-align: center;
}

#QR-container img{
    margin: 2vw;
    max-width: 300px;
    width: 90vw;
    height: auto;
}