body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title{
    margin: 2rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    text-align: center;
}

#header-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    cursor: pointer;
}

#header-links a{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
}

#Registry-container{
    margin: 1rem;
}

#Registry-text{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
}

#Registry-fund{
    margin: 1rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
}

#Registry-splash-container{
    width: 90vw;
    margin: 0 auto;
    display: block;
}

#Registry-splash-image{
    width: 100%;
    padding-top: 1rem;
}

#QR-container{
    margin: 1rem;
    text-align: center;
}

#QR-container img{
    margin: 2vw;
    max-width: 300px;
    width: 90vw;
    height: auto;
}

#paypal-link{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
    
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
    text-align: center;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}