body{
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title{
    margin: 2rem;
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    text-align: center;
}

#header-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    cursor: pointer;
}

#header-links a{
    font-family: "Noto Serif Georgian", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: black;
}

#form-container{
 width: 95vw;
 margin: 0 auto;
 display: block;
 height: 80vh;
 margin: 1rem;
}

#form-container iframe{
    width: 100%;
    height: 100%;
}

#footer-container{
    background-color: #ddebf6;
}

#footer-title, #footer-rsvp{
    font-family: "Noto Serif Georgian", serif;
    padding: 1rem;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
}
